<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


  <connectionStrings>
    <add name="FristDB" connectionString="Server=LAPTOP-KEGOV3F0;uid=tomas;pwd=0000;database=FristDB"
      providerName="System.Data.SqlClient" />
    <add name="OrderManager.Properties.Settings.FristDBConnectionString"
      connectionString="Data Source=LAPTOP-KEGOV3F0;Initial Catalog=FristDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
  
</configuration>